<!doctype html>
<html>
<head>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title>${title} - Huaichao, Ver.$ver</title>
    <link type="text/css" rel="stylesheet" href="${base}/css/font-awesome.css" />
    <link type="text/css" rel="stylesheet" href="${base}/css/bootstrap.css" />

    ${head}
</head>
<body>
    <h1><i class="icon-heart"></i>Header</h1>
    ${body}
    <h1>Footer</h1>
</body>
</html>